{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<div class="form-container-2">
<div class="col-md-6 mx-auto col-sm-12 form-wrapper">
    <h1 class="my-4">Contactez-nous</h1>
   {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.message) }}
    <div class="form-group" id="btn-contact">
        <button type="submit" class="btn btn-primary">
Envoyer</button>
    </div>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}